.container{
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 1px solid black;
}
.flex{
    display: flex;
    background-color: green;
    height: 40px;
    margin-bottom: 20px;
}
.row1-item1 , .row1-item2{
    flex-grow: 1;
  }
.row2-item1{
    width: 5%;
    margin-left: auto;
}
.row3-item1{
    width: 5%;
    margin-right: auto;
}
.row3-item2{
    width: 5%;
    margin-left: auto;
}
.row4-item1{
    flex-grow: 20;
}
.row4-item2{
    flex-grow: 1;
}
.row5-item1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
}
.row6-item1{
    margin-right: auto;
    flex-grow: 10;
}
.row6-item2{
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}
.row6-item3{
    margin-left: auto;
    flex-grow: 10;
}
.row7-item1{
    margin-right: auto;
    width: 20px;
}
.row7-item2{
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    
}
.red{
    background-color: red;
}
.gold{
    background-color: gold;
}
.blue{
    background-color: blue;
}
.row3{
    background-color: yellow;
}
